/* Global styles here */

* {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

/* Header styles */

.header {
    background-color: #1f2937;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.header-bar {
    display: flex;
    margin-bottom: 50px;
}

.header h1 {
    font-size: 24px; 
    color: #f9faf8;
    margin-right: auto;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header li {
    margin: 0px 8px;
}

.header p,
.header ul {
    font-size: 18px;
    color: #e5e7eb;
}

.header button {
    border: 0px;
    border-radius: 5px;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 5px 20px;
    font-weight: 600;
}

#hero-text { 
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro { 
    display: flex;
    gap: 40px;
}

.description {
    margin: 0px;
    flex: 1;
}

.intro img {
    width: 400px;
    flex: 1;
}

/* Info Styles (the white section with images) */

.info {
    margin: 5% 10%;
}

.info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.info-card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info-card {
    width: 200px;
}

.info-card img {
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-color: #3882f6;
    border-radius: 10px;
}

/* Testimonial Styles */

.testimonial {
    background-color: #e5e7eb;
    padding: 5% 10%;
}

.testimonial p { 
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
    color: #1f2937;
    font-weight: 900;
    font-size: 24px;
}

/* Call-to-action styles */

.cta { 
    margin: 5% 3%;
    padding: 50px 100px;
    border-radius: 10px;
    color: #e5e7eb;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
}

.cta .button-box {
    display: flex;
    align-items: center;
}

.cta h2 {
    margin: 0;
}

.cta p {
    margin: 0;
}

.cta button {
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid;
    padding: 5px 25px;
    border-color: #e5e7eb;
    border-radius: 10px;
    font-weight: 900;
}


/* Footer styles */

.footer {
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}